{% extends 'base.html' %}

{% block content %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link href="{% static 'css/register.css' %}" rel="stylesheet"/>
    <title>Sign Up</title>
  </head>
  <body>
    <div class="container">
            <div class="register-box">
                <form class="form-register" action="/register/" method="post">

                    {% comment %} {% if register_form.captcha.errors %}
                        <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
                    {% elif message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %} {% endcomment %}

                  {% csrf_token %}
                  <h3 class="text-center">Welcome Sign Up</h3>

                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" class="form-control input-lg" name="username" placeholder="Enter your username here...">
                </div>
                <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" class="form-control input-lg" name="firstname" placeholder="Enter your first name here...">
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" class="form-control input-lg" name="lastname" placeholder="Enter your last name here...">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="text" class="form-control input-lg" name="password" placeholder="Enter your password here...">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control input-lg" name="email" placeholder="Enter your email address here...">
                </div>

                  {% comment %} <div class="form-group">
                      {{ register_form.username.label_tag }}
                      {{ register_form.username}}
                  </div>
                  <div class="form-group">
                      {{ register_form.password1.label_tag }}
                      {{ register_form.password1 }}
                  </div>
                  <div class="form-group">
                      {{ register_form.password2.label_tag }}
                      {{ register_form.password2 }}
                  </div>
                  <div class="form-group">
                      {{ register_form.email.label_tag }}
                      {{ register_form.email }}
                  </div>
                  <div class="form-group">
                      {{ register_form.sex.label_tag }}
                      {{ register_form.sex }}
                  </div>
                  <div class="form-group">
                      {{ register_form.captcha.label_tag }}
                      {{ register_form.captcha }}
                  </div> {% endcomment %}

                  <div class="register-button">
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                  </div>
                </form>
            </div>
    </div> 

  </body>
</html>
{% endblock %}
