{% extends 'base.html' %}

{% block content %}
<style>
	.about_container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 81vh;
		font-family: 'Courier New', Courier, monospace;
		font-style: oblique;
	}
</style>
<div class="about_container">
	<p>Topic: We will implement a website for adopting pets, pet lost claim, lost pet find, find a new owner for your pet, cloud adoption pets and ask for help on pet-related knowledge. Since many people like to keep pets, especially those who are lonely. Our goal is to give people who need pets a better platform to adopt pets. At the same time, it also gives people who can no longer keep pets a good platform to communicate with the next owner of their pet.</p>
</div>

{% endblock %}
