{% extends 'base.html' %} 

{% block content %}
<style>>
.container{
  margin-bottom: 10%;
}
.input-group{
  margin-top: 10%;
  margin-bottom: 10%;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-success display-4 text-center">Search</h1>
      <p class="text-muted text-center mb-2">You Can Enter Pet Name or Gender Here!</p>
      <form class="mr-5 ml-5">
        <div class="input-group mb-3">
          <input
            type="search"
            class="form-control"
            placeholder="Find your new best friend here"
            name="q"
          />
          <div class="input-group-prepend">
            <button type="submit" class="btn btn-secondary">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if search_query %}
  <div class="row">
    <div class="col-md-12">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for pet in pets %}

          <!-- Slides -->
          <div class="swiper-slide">
            <a href="../pet/{{pet.id}}" style="text-decoration: none">
              <div class="card">
                <img
                  src="{{ pet.image }}"
                  class="card-img-top"
                  alt="pet image"
                  style="height: 25rem;"
                />
                <div class="card-body bg-success">
                  <h5 class="card-title text-light text-center">
                    {{ pet.name }}
                  </h5>
                  <p class="card-text text-center">
                    <small class="text-light"
                      >Sheltered on: {{ pet.sheltered_time }}</small
                    >
                  </p>
                </div>
              </div>
            </a>
          </div>

          {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev text-success"></div>
        <div class="swiper-button-next text-success"></div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}