{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %} 

{% block content %}
<style>
.user-inform{
    margin-top: 4%;
    margin-left: 1%;
}
#lastName{
    margin-left: 10%;
}
.btn{
    margin-top: 4%;
    margin-bottom: 2%;
}
.header{
    text-align:center;
    margin-top: 3%;
}
.profile-page{
    background-color: burlywood;
}
.button{
    text-align: center;
}
.user-icon{
    text-align: center;
    margin-left: 10%;
    transform: translateY(-15px);
}
</style>

<div class="profile-page">
    <h1 class="header">Profile</h4>
    <form method="post">

        {% csrf_token %}

        <div class="row">
            <div class="user-inform col-sm-12 col-md-5">
                <label>Username</label>
                <input type="text" class="form-control input-lg" name="username" placeholder= {{user.username}}>
            </div>
        </div>
        <div class="row">
            <div class="user-inform col-sm-12 col-md-5">
                <label>Email</label>
                <input type="text" class="form-control input-lg" name="email" placeholder= {{user.email}}>
            </div>
            <div class="user-icon col-md-5">
                <img src="{% static 'media/user-icon.png' %}" height="100" width="100">
            </div>
        </div>
        <div class="row">
            <div class="user-inform col-sm-6 col-md-5">
                <label>First Name</label>
                <input type="text" class="form-control input-lg" name="firstname" placeholder= {{user.first_name}}>
            </div>
            <div class="user-inform col-sm-6 col-md-5" id="lastName">
                <label>Last Name</label>
                <input type="text" class="form-control input-lg" name="lastname" placeholder= {{user.last_name}}>
            </div>
        </div>
        <div class="row">
            <div class="button col-md-6">
                <button type="submit" class="btn btn-primary bg-success">Update</button>
            </div>
            <div class="button col-md-6">
                <a href="{% url 'favourites' %}"> 
                    <button type="button" class="btn btn-primary btn-warning">favourite</button>
                </a>
            </div>
        </div>

    </form>

</div>
{% endblock %}
